In [3]:
acc_vs_seq=pd.read_csv('Sequences.csv') #read the csv file containing the length of each sequence as well, obtained from Get_EC_GH.ipynb
#acc_vs_seq.rename( columns={'Unnamed: 0':'ID'}, inplace=True ) #rename the unnamed column as ID
acc_vs_seq

,ID,EC number,Taxonomy,GH family,Sequence,Length
0,AHW49177.1,3.2.1.23,Archaea,GH1,MKFPKNFMFGYSWSGFQFEMGLPGSEVESDWWVWVHDKENIASGLV...,472
1,AAL80480.1,3.2.1.25,Archaea,GH1,MEFYWGVVQSAFQFEMGDPYRKNIDTRSDWWHWVRDPYNIKNELVS...,483
2,AAL81332.1,3.2.1.23 3.2.1.25,Archaea,GH1,MFPEKFLWGVAQSGFQFEMGDKLRRNIDTNTDWWHWVRDKTNIEKG...,510
3,AAC44387.1,3.2.1.23 3.2.1.25,Archaea,GH1,MFPEKFLWGVAQSGFQFEMGDKLRRNIDTNTDWWHWVRDKTNIEKG...,510
4,AAM56789.1,3.2.1.23 3.2.1.25,Archaea,GH1,MFPEKFLWGVAQSGFQFEMGDKLRRNIDTNTDWWHWVRDKTNIEKG...,510
...,...,...,...,...,...,...
3694,AEF56861.1,3.2.1.55,unclassified,GH51,MSNSYVLDLKNTGVKIQSTMYGIFFEDINLGADGGLYAELVKNRSF...,654
3695,AEF56855.1,3.2.1.55,unclassified,GH51,MGSSHHHHHHSSGLVPRGSHMASMAKYFINAASKRGKISKEIYGHF...,512
3696,AAH56935.1,3.2.1.45,Eukaryota,GH116,MVTCVPASEQVGCAERDSQVYCEDTGGTEAVRVTDCGSPEDSGPQD...,918
3697,BAC40785.1,3.2.1.45,Eukaryota,GH116,MVTCVPASEQVGCAERDSQVYCEDTGGTEAVRVTDCGSPEDSGPQD...,918
3698,SCW21022.1,3.2.1.-,unclassified,GH148,MEMRWWLVVIWAFISGMGGWWSMRCGLTQEGSFKSPLFSFVLPWDD...,905

In [4]:
acc_vs_seq.describe() #statistical description of the dataset

            Length
count  3699.000000
mean    552.478237
std     166.377022
min     121.000000
25%     445.500000
50%     515.000000
75%     653.000000
max     998.000000

In [5]:
acc_vs_seq=acc_vs_seq[acc_vs_seq.Length <1000] #removing sequences more than 1000 and less than 60 amino acids long
acc_vs_seq=acc_vs_seq[acc_vs_seq.Length >60]
acc_vs_seq.reset_index(inplace = True, drop = True) #resetting the index, as after dropping there are missing index values
acc_vs_seq

,ID,EC number,Taxonomy,GH family,Sequence,Length
0,AHW49177.1,3.2.1.23,Archaea,GH1,MKFPKNFMFGYSWSGFQFEMGLPGSEVESDWWVWVHDKENIASGLV...,472
1,AAL80480.1,3.2.1.25,Archaea,GH1,MEFYWGVVQSAFQFEMGDPYRKNIDTRSDWWHWVRDPYNIKNELVS...,483
2,AAL81332.1,3.2.1.23 3.2.1.25,Archaea,GH1,MFPEKFLWGVAQSGFQFEMGDKLRRNIDTNTDWWHWVRDKTNIEKG...,510
3,AAC44387.1,3.2.1.23 3.2.1.25,Archaea,GH1,MFPEKFLWGVAQSGFQFEMGDKLRRNIDTNTDWWHWVRDKTNIEKG...,510
4,AAM56789.1,3.2.1.23 3.2.1.25,Archaea,GH1,MFPEKFLWGVAQSGFQFEMGDKLRRNIDTNTDWWHWVRDKTNIEKG...,510
...,...,...,...,...,...,...
3694,AEF56861.1,3.2.1.55,unclassified,GH51,MSNSYVLDLKNTGVKIQSTMYGIFFEDINLGADGGLYAELVKNRSF...,654
3695,AEF56855.1,3.2.1.55,unclassified,GH51,MGSSHHHHHHSSGLVPRGSHMASMAKYFINAASKRGKISKEIYGHF...,512
3696,AAH56935.1,3.2.1.45,Eukaryota,GH116,MVTCVPASEQVGCAERDSQVYCEDTGGTEAVRVTDCGSPEDSGPQD...,918
3697,BAC40785.1,3.2.1.45,Eukaryota,GH116,MVTCVPASEQVGCAERDSQVYCEDTGGTEAVRVTDCGSPEDSGPQD...,918
3698,SCW21022.1,3.2.1.-,unclassified,GH148,MEMRWWLVVIWAFISGMGGWWSMRCGLTQEGSFKSPLFSFVLPWDD...,905

In [11]:
#saving the sequences to multifasta after length trimmed
xx=(acc_vs_seq.ID.count())
with open('GH_oI_EC_oNI.fasta','w',encoding='utf-8') as otp:
    for i in range(xx):
        acc_id=acc_vs_seq.iloc[i,0]+'&'+acc_vs_seq.iloc[i,1]+'&'+acc_vs_seq.iloc[i,3]
        seq=acc_vs_seq.iloc[i,4]
        otp.write('>'+acc_id+'\n'+seq+'\n')
print('multifasta file with no length outliers is successfully saved')

multifasta file with no length outliers is successfully saved